 body {
            background-color: purple;
        }

        h1 {
            color: pink;
        }

        p {
            color: rgb(9, 9, 253);
        }

        h2 {
            color: palevioletred;
        }

        div {
            color: rgb(255, 196, 211);
        }
        h3 {
            color: rgb(250, 3, 126);
        }

        footer {
            color: rgb(248, 192, 239);

        }
        div,h1,p{
            background-color:olive;
            color: silver;
        }
        .team{
            color: rgb(255, 0, 0);
            background-color: black;
        }
         #harish{
            color: rgb(0, 255, 0);
            background-color: black;
        }
        
       
        