*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    
}
.head{
    
    display: flex;
    color: white    ;
    justify-content: space-between;
    padding: 40px;

}   
.url{
    margin-right: 900px;
    background-color:rgb(0, 0, 56) ;
    color: white;
    width: 100px;
    border-color: white;
    
}
.pd select{
     background-color:rgb(0, 0, 56) ;
    color: white;
    width: 100px;
    border-color: white;
}
.body{
    background-color:rgb(0, 0, 56) ;
}
.add{
    color: aqua;
}