*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.pro {
    background-color: rgb(189, 61, 243);
   
    padding: 20px;
    margin: auto;
    border: solid 30px;
}
.kbd{
    background-color: rgb(66, 5, 235);
    padding: 60px;
    margin-top:10px ;
    color:white;

}
.head{
    padding: 30px;
    margin-bottom: 10px;
    background-color: rgb(252, 6, 6);
    border: solid 10px;
}
.pa{
    padding: 30px;
    background-color:black;
    color: azure;
    margin-top: 10px;

}