* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F5F5F8;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-color: #021B3A;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left button {
    background-color: transparent;
    border: none;
    border: 1px dashed white;
    padding: 10px;
    flex-basis: 35%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    gap: 15px;
}

.right div {
    border: 1px dashed white;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}

.right div>a {
    text-decoration: none;
    color: white;
}

.section_top {
    background-color: #021B3A;
    color: white;
    padding: 0px 0px 20px 0px;
}

.links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 30px;
}

.links>* {
    text-decoration: none;
    color: white;
}

.links>*:hover {
    color: orange;
    text-decoration: underline;
    transition: 0.3s;
}

.container_two {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    margin: 20px auto;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3b4b67;
}

.sub {
    color: gray;
    margin-bottom: 15px;
}

.link {
    color: #4a78ff;
    text-decoration: none;
}

.section-title {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #3b4b67;
}

/* Thumbnail */
.parent {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    width: 88%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid_container {
    margin: 20px;
    display: grid;
    gap: 40px;
    grid-template-columns: 300px 1fr;
}

.img {
    /* box-shadow: 1px 2px 5px black; */
    border-radius: 10px;
}

.img img {
    width: 100%;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    font-size: 13px;
    color: rgb(78, 78, 78);

}

.desc_change {
    width: 150px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: orangered;
    font-weight: 800;
    cursor: pointer;
}

h2 {
    padding: 10px;
}

.desc_remove {
    width: 150px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 6px;
    font-weight: 800;
    border: 1px solid orangered;
    cursor: pointer;
}

.desc_remove:hover {
    background-color: orangered;
    color: white;
    border: none;
    transition: 1s;
}

hr {
    border: 3px solid white;
}

.trainer_parent {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.trainer_parent__main {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    justify-content: space-between;
}

.child_one {
    display: flex;
    gap: 20px;
    align-items: center;
}