*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.parent{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    
    
}
.card{
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;
    position: absolute;
   
}